{% verbatim %}
      <script id="catalogo_template" type="text/template">
        <div class="contenedor">
          <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <aside class="lateral">
                <div class="clear_filtros contraste1 text-center clickeable">
                  Limpiar Filtros
                </div>
              </aside>
            </div>
            <div class="col-md-10">
              <div id="filtros"></div>
              <div class="productos"></div>
              <div id="bloques_extras"></div>                          
            </div>
          </div>
        </div>
        </div>
      </script>

      <script id="producto_lista_template" type="text/template">
         <span class="icono glyphicon glyphicon-search"></span>
            <a class="link" href="/producto/{{slug}}/">
                <figure>
                    <img src="{{thum}}" alt="{{full_name}} {{marca}}">
                </figure>
                <div class="nombre_producto">
                    <div class="estilo">{{categoria}} {{estilo}}</div>
                    <div class="nombre">{{nombre}} {{color}}</div>
                </div>
                <div class="precios">
                    {%if en_oferta %}
                    <span class="old_precio"><s>S/. {{precio}}</s></span>
                    {%endif%}
                    <span class="precio {%if en_oferta%}en_oferta{% endif %}">S/. {{precio_mostrar}}</span>
                </div>
            </a>
            <div class="estrellas">
                <span data-valor="1" class="glyphicon glyphicon-star"></span>
                <span data-valor="2" class="glyphicon glyphicon-star"></span>
                <span data-valor="3" class="glyphicon glyphicon-star"></span>
                <span data-valor="4" class="glyphicon glyphicon-star"></span>
                <span data-valor="5" class="glyphicon glyphicon-star-empty"></span>
            </div>
      </script>
{%endverbatim%}