{% verbatim %}  
      <script id="mini_usuario_template" type="text/template">
        {%if username %}
          <a class="link" href="/perfil/"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
        {%else%}
          <a class="login_face" href="/login/facebook/">Ingresar con <span class=""></span></a>
          <a class="link" href="/ingresar/"><span class="glyphicon glyphicon-user"></span> Ingresar</a>
        {%endif%}
      </script>

      <script id="usuario_login_bloque_template" type="text/template">
        <div class="panel panel-default">
          <div class="panel-heading">Ingresar a su cuenta</div>
          <div class="panel-body">
            <p>Si usted es un usuario registrado, por favor, introduzca su email y contraseña.</p>
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Recordarme
                </label>
              </div>
              <p><a href="/">¿Has olvidado tu contraseña?</a></p>
              <button type="submit" class="btn btn-default contraste1">Ingresar</button>
            </form>
          </div>
        </div>
      </script>

      <script id="usuario_crear_bloque_template" type="text/template">
        <div class="panel panel-default">
          <div class="panel-heading">Nuevo Cliente</div>
          <div class="panel-body">
            <p>Al crear una cuenta en LovizdelCarpio.com tu proceso de compra es más rápido porque tus datos ya están registrados en nuestra tienda, además podrás hacer un seguimiento de tus pedidos y estar informado de las últimas novedades.</p>
            <button class="btn btn-default aparecer contraste1">Crear Cuenta</button>
            <div class="formulario">
              <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Repetir Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default crear contraste1">Crear Cuenta</button>
            </form>
            </div>
          </div>
        </div>
      </script>
{% endverbatim %}  